body,
html {
    padding: 0;
    margin: 0;
}

.header,
.footer {
    width: 100%;
    background: #ccc;
    padding: 10px;
    box-sizing: border-box;
}

img {
    height: 20vh;
}

/* h1,
p {
    margin: 0 0 1em 0;
} */

.wrapper {
    height: 100vh;
}

.sidebar {
    width: 20%;
    height: 100vh;
    /* width: 100vw; */
    float: left;
    background: #bbb;
}

.content {
    width: 80%;
    height: 100vh;
    /* width: 100vw; */
    float: right;
    background: #aaa;
}
/* Found on css-tricks.com */
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.footer {
    clear: both;
    margin: 0;
}
