body,
html {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
}
.header,
.footer {
    width: 100%;
    background: #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.container {
    background: #eee;
    width: 100%;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.sidebar {
    width: 50%;
    float: left;
    background: #bbb;
    height: 100%;
}
.content {
    width: 50%;
    float: right;
    background: #aaa;
    height: 100%;
}
/* Found on css-tricks.com */
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
